.footer {
	background-color: #444;
}

.footer
.socials-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer
.socials-list
.socials-list__item-link {
	display: block;
	margin: 10px 0;
	padding: 0 20px;
	width: 24px;
	height: 24px;	
	background-repeat: no-repeat;
}

.footer
.socials-list
.facebook {
	background-image: url(../images/sprite.png);
	background-position: 0 -96px;
}

.footer
.socials-list
.linkedin {
	background-image: url(../images/sprite.png);
	background-position: 0 -240px;
}

.footer
.socials-list
.github {
	background-image: url(../images/sprite.png);
	background-position: 0 -168px;
}

.footer
.copyright {
	margin-top: 20px;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

@media screen and (min-width: 990px) {
    	
	
	.footer
	.socials-list
	.facebook:hover {
		background-image: url(../images/sprite.png);
		background-position: 0 -48px;
	}

	.footer
	.socials-list
	.linkedin:hover {
		background-image: url(../images/sprite.png);
		background-position: 0 -192px;
	}

	.footer
	.socials-list
	.github:hover {
		background-image: url(../images/sprite.png);
		background-position: 0 -120px;
	}
    	
    .footer
    .wrapper {
    	display: -webkit-box;
    	display: -webkit-flex;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-pack: justify;
    	-webkit-justify-content: space-between;
    	    -ms-flex-pack: justify;
    	        justify-content: space-between;
    	-webkit-box-align: center;
    	-webkit-align-items: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    }

    .footer
	.copyright {
		margin-top: 0;
	}

}